<form #currencyForm="ngForm" (ngSubmit)="onSubmit()" class="container">
	<div class="row">
		<div class="col-md-4 col-sm-12">
			<div class="form-group">
				<label for="sourceAmount">Montant source</label>
				<input type="number" min="0" step="0.01" [(ngModel)]="currency.sourceAmount" id="sourceAmount"  #sourceAmount="ngModel" name="sourceAmount" class="form-control">
			</div>
		</div>
		<div class="col-md-8 col-sm-12">
			<div class="form-group">
				<label for="sourceCurrency">Devise source</label>
				<select [(ngModel)]="currency.source" name="source" #source="ngModel" id="sourceCurrency" class="form-control" required>
					<option *ngFor="let currency of currencies" [value]="currency.id">{{currency.currencyName}} ({{currency.id}})</option>
				</select>
			</div>

		</div>
	</div>

	<div class="row">
		<div class="col-md-4 col-sm-12">
			<div class="form-group">
				<label for="targetAmount">Montant cible</label>
				<input type="number" [ngModel]="currency.targetAmount" #targetAmout="ngModel" id="targetAmount" name="targetAmount" [disabled]="true" class="form-control">
			</div>
		</div>
		<div class="col-md-8 col-sm-12">
			<div class="form-group">
				<label for="targetCurrency">Devise cible</label>
				<select [(ngModel)]="currency.target" name="target" #target="ngModel" id="targetCurrency" class="form-control" required>
					<option *ngFor="let currency of currencies" [value]="currency.id">{{currency.currencyName}} ({{currency.id}})</option>
				</select>
			</div>
		</div>
	</div>
	<button type="submit" class="btn btn-primary" [disabled]="!currencyForm.form.valid">Convertir !</button>
</form>