Type de demande : {{request.type_demande}}
<br>
<div *ngIf="route.snapshot.fragment=='inscription'">
Fiche d'inscription : 
<br>
 - Nombre d'enfants : {{request.ficheInscription.numberOfChildren}}
<br>
 - Situation : {{request.ficheInscription.maritalStatus}}
<br>
</div>
Email du client : {{request.client.email}}
<br>
Prénom : {{request.client.firstName}}
<br>
Nom : {{request.client.lastName}}
<br>
....

....
<div *ngIf="route.snapshot.fragment=='inscription'">
	<button (click)="validerDemandeInscription()" class="btn btn-primary">Activer le compte client</button>
	<button (click)="refuserDemandeInscription()" class="btn btn-warning" mat-raised-button
        matTooltip="Le client doit fournir plus d'informations pour activer son compte utilisateur"
        aria-label="Inscription is incomplete, need more information from the client">Inscription incomplète </button>
</div>