<div class="row">
	<div class="col">
		<section>
			<header class="header">
				<div class="row">
					<div class="col-md-4">
						<h1>Nos Clients</h1>
					</div>
					<div class="col-md-6">					
					</div>
				</div>
			</header>
		</section>
		<section >
			<table class="table">
				<thead>
					<tr>
						<th>Clients</th>
						<th>Nombre de comptes</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let Client of clients">
						<td>{{Client.firstName}}  {{Client.lastName}}</td>
						<td>
							<span *ngFor="">
								
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</section>
	</div>
</div>