<h2>Moyens de paiement : les cartes bancaires Visa</h2>
<br>

	<div class="row">
		<div class="col-md-6">
			<h4><strong>Carte bancaire Visa Premier:</strong> liberté et souplesse</h4>
			<div>
				<p >Avec votre Carte Bancaire Visa Premier D'mineur, c'est vous qui décidez, vous pouvez :</p>

				<ul>
					<li>Bénéficier de garanties d’assurance et assistance pour vous et votre famille, en France et à l’étranger lors de vos voyage</li>
					<li>Choisir entre le débit immédiat et le débit différé</li>
					<li>Ajuster vous-même vos plafonds de façon temporaire ou définitive en fonction de vos besoins (Sous réserve d’acceptation en ligne par la Banque)</li>
					<li>Disposer du paiement sans contact</li>
					<li>Fixer les alertes sur vos opérations cartes depuis votre Espace Client</li>
				</ul>

			</div>
			<img id="cartePrenium"  src="{{imgCarteP}}" alt="cartePrenium">
		</div>
		<div class="col-md-6">
			<h4><strong>Carte bancaire Visa Infinite:</strong> prestige et excellence</h4>
			<div>
				<p >La Carte Bancaire Visa Infinite BforBank vous ouvre les portes d’un monde d’exception, où le raffinement côtoie l’excellence, rien que pour vous et selon vos envies. Elle vous permet :</p>

				<ul>
					<li>De disposer d’un concierge dédié qui répond à toutes vos demandes pour gagner un temps précieux, et disponible 7j/7 et 24h/24</li>
					<li>De profiter du Club Visa Infinite : privilèges exclusifs et invitations pour vivre des moments inédits</li>
					<li>D’accéder à des plafonds de paiement et de retrait élevés pour une réelle liberté</li>
					<li>Disposer du paiement sans contact</li>
					<li>De bénéficier de garanties étendues pour voyager sereinement, seul ou en famille </li>
				</ul>
			</div>
			<img id="carteInfinite"  src="{{imgCarteI}}" alt="carteInfinite">
		</div>
	</div>

<hr>
<h2>Les services de votre carte Visa</h2>
<br>


<h4>Achetez en ligne en toute sérénité</h4>

<img id="securise"  src="{{imgsecurise}}" alt="securise">
<p>Avec le service « Verified by Visa », les commerçants équipés peuvent vous demander de leur indiquer un code confidentiel à usage unique afin de renforcer la vérification de votre identité. Ce code vous est envoyé au moment de la transaction par SMS.</p>



<h4>Paramétrez votre carte bancaire</h4>
<img id="param"  src="{{imgparam}}" alt="param">
<p>Sur votre espace client, vous pouvez paramétrer votre cart 7j sur 7 et 24h sur 24. Faites opposition, demandez la modification de votre plafond, un retrait d'espèces exceptionnel ou encore la réédition de votre code confidentiel directement depuis votre Espace Client.</p>
