<div class="row">
	<div class="col">
		<section>
			<header class="header">
				<div class="row">
					<div class="col-md-4">
						<h1>Liste des conseillers</h1>
					</div>
					<div class="col-md-6">					
					</div>
				</div>
			</header>
		</section>
		<section>
			<nav>
				<section class="container">
					<div class="row">
						<div class="col-md-4">
							<i _ngcontent-c1="" aria-hidden="true" class="fa fa-user-plus" title="ajout"></i>
							<!--<i class="fas fa-redo-alt"></i>-->
							<a routerLink="/addAgent" routerLinkActive="active">    Add Agent</a>
						</div>
						<div class="col-md-4">
							
						</div>
					</div>
				</section>				
			</nav>
			<table class="table">
				<thead>
					<tr>
						<th>Liste des Conseiller</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let Agent of agents">
						<td>{{Agent.nom}}</td>
						<td>
							
						</td>
					</tr>
				</tbody>
			</table>
		</section>
	</div>
</div>

<a routerLink="./new-user">Créer un nouveau conseiller</a>
  <div class="container">
   <router-outlet></router-outlet>
 </div>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let user of users">
    <button class="btn btn-default pull-right" (click)="onDeleteUser(user)">
    <span class="fa fa-remove" style="font-size:48px;color:red"></span>
  </button>
    <h2>{{ user.firstName }} {{ user.lastName }} </h2>
    <h4>Matricule n° : {{ user.matricule }} </h4>
    <p>{{ user.email }} </p>
    <p>{{ user.telephone }} </p>
  </li>
  </ul>