<div class="row">
	<div class="col">
		<section>
			<header class="header">
				<div class="row">
					<div class="col-md-4">
						<h1>Liste des conseillers</h1>
					</div>
					<div class="col-md-6">					
					</div>
				</div>
			</header>
		</section>
		<section>
			<nav>
				<section class="container">
					<div class="row">
						<div class="col-md-4">
							<i _ngcontent-c1="" aria-hidden="true" class="fa fa-user-plus" title="ajout"></i>
							
							<a routerLink="./new-user">Ajouter un nouvel Agent</a>
						</div>
						<div class="col-md-4">
							
						</div>
					</div>
				</section>				
			</nav>
			<table class="table">
				<thead>
					<tr>
						<th><div class="container">
							<router-outlet></router-outlet>
						</div>
						<ul class="list-group">
							<li class="list-group-item" *ngFor="let user of users">
								<button class="btn btn-default pull-right" (click)="onDeleteUser(user)">
									<span class="fa fa-remove" style="font-size:48px;color:red"></span>
								</button>
								<button class="fa fa-pencil" aria-hidden="true" (click)="onEditUser(user)" >Edit</button>
								<h2>{{ user.firstName }} {{ user.lastName }} </h2>
							</li>
						</ul></th>
					</tr>
				</thead>
				<tbody>
					<!--<tr *ngFor="let Agent of agents">
						<td>{{Agent.nom}}</td>
						<td>
							
						</td>
					</tr>-->
				</tbody>
			</table>
		</section>
	</div>
</div>

