<div class="row">
	<div class="col">
		<section>
			<header class="header">
				<div class="row">
					<div class="col-md-4">
						<h1>La liste des demandes </h1>
					</div>
					<div class="col-md-6">	
					</div>
				</div>
			</header>
		</section>
		<section >
			<nav>
				<section class="container">
					<div class="row">
						<div class="col-xs-4 col-md-4">
							<div class="row">
								<div class="col-md-3">
									Filtrer : <br>
								</div>
								<div class="col-md-9">
									<label for="tousAffectee" >Tous</label>
									<input type="radio" id="tousAffectee" [(ngModel)]="filter_affectation" value="all" name="filter_affectation"/>
									<label for="affect">Affectées</label>
									<input type="radio" id="affect" [(ngModel)]="filter_affectation" value="affected" name="filter_affectation"/>
									<label for="nonAffect">Non affectées</label>
									<input type="radio" id="nonAffect" [(ngModel)]="filter_affectation" value="nonAffected" name="filter_affectation"/>
								</div>
							</div>
						</div>
						<div class="col-xs-4 col-md-4">
							<div class="row">
								<div class="col-md-3">
									Statut : <br>
								</div>
								<div class="col-md-9">
									<label for="tousTraite" >Tous</label>
									<input type="radio" id="tousTraite" [(ngModel)]="filter_demande_traite" value="all" name="filter_demande_traite"/>
									<label for="enCours">En cours</label>
									<input type="radio" id="enCours" [(ngModel)]="filter_demande_traite" value="enCours" name="filter_demande_traite"/>
									<label for="traitee">Traitée</label>
									<input type="radio" id="traitee" [(ngModel)]="filter_demande_traite" value="traitée" name="filter_demande_traite"/>
								</div>
							</div>
						</div>
						<div class="col-xs-4 col-md-4">
							<div class="row">
								<div class="col-md-3">
									Tri : <br>
								</div>
								<div class="col-md-9">
									<input type="date" name="creationDate">
								</div>
							</div>
						</div>
					</div>
				</section>				
			</nav>
			<table class="table">
				<thead>
					<tr>
						<th>Type de demande</th>
						<th>Affectation</th>
						<th>Traitée</th>
						<th>Prénom - Nom</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let demandeInscription of demandesInscriptions" [hidden]="hide(demandeInscription)">
						<td>{{demandeInscription.type_demande}}</td>
						<td>
							<span *ngIf="demandeInscription.agent==null">Non affecté</span>
							<span *ngIf="demandeInscription.agent!=null">Affecté</span>
						</td>
						<td>
							<span *ngIf="demandeInscription.demande_traite==0">En cours</span>
							<span *ngIf="demandeInscription.demande_traite==1">Traitée</span>
						</td>
						<td>
							{{demandeInscription.client.firstName}} 
							{{demandeInscription.client.lastName}}
						</td>
						<td>
							<i class="iStyleAsA fa fa-edit" (click)="goToDemande(demandeInscription.id)"></i>
						</td>						
					</tr>
				</tbody>
			</table>
		</section>
	</div>
</div>