


<app-currency-converter></app-currency-converter>
<hr>
<div>
	<h2 id="accroche">BIENVENUE SUR D'Mineur</h2>
</div>
<div style="float:left;margin-right:10px;">
	<img id="plop"  src="{{imgprincipal}}" alt="avatar">
</div>

	<div  id="paraf1">	 	
		<h3>Dans la vie on ne maîtrise pas toujours tout…
		avec D'mineur au moins vous maîtrisez votre budget</h3>
		<p>Votre conseiller dédié est joignable
			par téléphone, email et webcam
			L'Agence en ligne est ouverte 6j/7 du lundi au vendredi de 8h à 20h et le samedi de 9h à 18h
		Accédez à l'agenda de votre conseiller pour une prise de rendez-vous simplifiée</p>
		<p>LCL s’occupe pour vous de contacter votre banque actuelle pour transférer la domiciliation de vos opérations (virements,
		prélèvements…).</p>
	</div>


<div>
<div  style="float:right;" >
	<img id="carte" src="{{imgcarte}}" alt="carte">
</div>
<div id=paraf2>
	<h4>La banque en ligne simple et claire</h4>
	<ul>
		<li>Carte Gold Mastercard® gratuite</li>
		<li>0€ de frais bancaires sur vos opérations courantes</li>
		<li>Une banque en ligne sans frais cachés</li>
		<li>Chéquiers gratuits : pour la commande et l'envoi de chéquier en courrier simple. </li>
	</ul>

</div>
</div>

<div  id="paraf3">
	<img id="banque" src="{{imgbanque}}" alt="banque">
	
</div>
