<p>
  lobby works!
</p>
Devise
<ul>
    <li *ngFor="let currency of currencies">
      {{ currency }}
    </li>
  </ul>
	

<!--
<form method="POST" action="convert()">
	<select >
		<option *ngFor="let currency of currencies">{{currency.currencyName}}</option>
		<option name="EUR">EUR</option>
		<option name="USD">USD</option>
		<option name="GBP">GBP</option>
		<option name="RUB">RUB</option>
	</select>
	<input type="number" min="0" step="0.01" ngModel name="sourceAmount">

	<select ngModel name="targetCurrency">
		<option name="EUR">EUR</option>
		<option name="USD">USD</option>
		<option name="GBP">GBP</option>
		<option name="RUB">RUB</option>
	</select>
	<input type="number" ngModel name="targetAmount" disabled="">
</form>
-->

{{currencies}}