<div class="row">
	<div class="col-md-6">
		<fieldset >
			<legend style="width:auto; margin-bottom: 0px; font-size: 12px; font-weight: bold; color: #1f497d;">Filtrer par status de traitement</legend>
			<mat-radio-group class="example-radio-group" [(ngModel)]="filter_demande_traite" class="row">
				<div class="col-md-4 col-xs-4">
					<mat-radio-button class="example-radio-button" id="all" value="all" name="filter_demande_traite">
						Tous
					</mat-radio-button>
				</div>
				<div class="col-md-4 col-xs-4">
					<mat-radio-button class="example-radio-button" id="enCours" value="enCours" name="filter_demande_traite">
						En cours
					</mat-radio-button>
				</div>
				<div class="col-md-4 col-xs-4">
					<mat-radio-button class="example-radio-button" id="traitee" value="traitée" name="filter_demande_traite">
						Traitée
					</mat-radio-button>	
				</div>
			</mat-radio-group>
		</fieldset>
	</div>
</div>
<table class="table">
	<thead>
		<tr>
			<th>Traitement</th>
			<th>Prénom - Nom</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let demandesOuvertureClientCompteBancaire of demandesOuvertureClientCompteBancaires" [hidden]="hide(demandesOuvertureClientCompteBancaire)">
			<td>
				<span *ngIf="demandesOuvertureClientCompteBancaire.demande_traite==0">En cours</span>
				<span *ngIf="demandesOuvertureClientCompteBancaire.demande_traite==1">Traitée</span>
			</td>
			<td>
				{{demandesOuvertureClientCompteBancaire.client.firstName}} 
				{{demandesOuvertureClientCompteBancaire.client.lastName}}
			</td>
			<td>
				<i class="iStyleAsA fa fa-edit" (click)="goToDemande(demandesOuvertureClientCompteBancaire.id)"></i>
			</td>						
		</tr>
	</tbody>
</table>