<div id="presentation">
<p>
La banque 100% en ligne
Banque en ligne depuis 2009,D'Mineur s'adresse à des clients actifs, mobiles et autonomes qui souhaitent prendre en main la gestion de leurs finances personnelles. BforBank propose une offre complète : des produits de banque au quotidien, une solution d'épargne, des services personnalisés ainsi qu'un accompagnement à tout moment sur bforbank.com et notre application mobile.
 </p>
 <p>
D'Mineur offre des solutions bancaires sécurisées et de qualité : Compte Bancaire, Carte Visa Premier gratuite, Carte Visa Infinite à un tarif préférentiel, opérations de gestion quotidienne, retraits aux distributeurs ou encore virements et prélèvements SEPA. Cette exigence se retrouve également dans les produits d'épargne qu’elle propose : livrets, assurance-vie sans droits d’entrée, offre bourse complète dont 50 fonds sélectionnés et un accès à 2 000 fonds sans droits d’entrée.
 </p>
 <p>
D'Mineur c’est aussi une gamme de services pratiques et innovants : une conciergerie dédiée pour les clients qui possèdent une carte bancaire Visa Infinite, des alertes personnalisées, un service client (du lundi au vendredi de 8h à 21h et le samedi de 9h à 18h) multi-récompensé basé en France.
</p>
</div>
